x-logging:
  service: &default-logging
    logging:
      options:
        max-size: "10m"
        max-file: "3"

services:

  redis:
    <<: *default-logging
    image: redis:latest
    user: root
    environment:
      REDIS_PASSWORD: 'password'
    command: redis-server --requirepass ${REDIS_PASSWORD} --loglevel warning
    ports:
      - "6379:6379"
    volumes:
      - ./redis_data:/data:Z
    restart: unless-stopped

  postgres:
    <<: *default-logging
    image: postgres:latest
    environment:
      - DB_USER=gitlab
      - DB_PASS=password
      - DB_NAME=gitlab_production
      - DB_EXTENSION=pg_trgm,btree_gist
    volumes:
      - ./postgresql_data:/var/lib/postgresql:Z
    restart: unless-stopped

  gitlab:
    <<: *default-logging
    image: gitlab/gitlab-ce:latest
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'http://gitlab.local:8800'
        postgresql['enable'] = false
        redis['enable'] = false
        nginx['listen_port'] = 8800
        nginx['listen_https'] = false
        gitlab_rails['gitlab_shell_ssh_port'] = 2200
        gitlab_rails['initial_root_password'] = 'password'
        gitlab_rails['db_adapter'] = 'postgresql'
        gitlab_rails['db_encoding'] = 'utf8'
        gitlab_rails['db_host'] = 'postgres'
        gitlab_rails['db_username'] = 'gitlab'
        gitlab_rails['db_password'] = 'password'
        gitlab_rails['db_database'] = 'gitlabhq_production'
        gitlab_rails['auto_migrate'] = true
        gitlab_rails['install_db'] = true
        gitlab_rails['db_initialize'] = true
        gitlab_rails['redis_host'] = 'redis'
        gitlab_rails['redis_port'] = '6379'
        gitlab_rails['redis_password'] = 'password'
    ports:
      - "2200:22"
      - "8800:8800"
    volumes:
      - ./gitlab_config:/etc/gitlab
      - ./gitlab_logs:/var/log/gitlab
      - ./gitlab_data:/var/opt/gitlab
    restart: unless-stopped


