x-logging: &default-logging
  logging:
    driver: "json-file"
    options:
      max-size: "10m"
      max-file: "3"

services:
  redis:
    <<: *default-logging
    image: redis:latest
    command: redis-server --requirepass password --loglevel warning
    volumes:
      - ./redis_data:/data
    restart: unless-stopped

  postgres:
    <<: *default-logging
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: gitlab
      POSTGRES_PASSWORD: password
      POSTGRES_DB: gitlab
    volumes:
      - ./postgresql_data:/var/lib/postgresql/data
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql:ro
    restart: unless-stopped

  gitlab:
    <<: *default-logging
    image: gitlab/gitlab-ce:latest
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'http://gitlab.local:8800'
        # Настройки внешней БД
        postgresql['enable'] = false
        gitlab_rails['db_adapter'] = 'postgresql'
        gitlab_rails['db_host'] = 'postgres'
        gitlab_rails['db_username'] = 'gitlab'
        gitlab_rails['db_password'] = 'password'
        gitlab_rails['db_database'] = 'gitlab'
        # Настройки внешнего Redis
        redis['enable'] = false
        gitlab_rails['redis_host'] = 'redis'
        gitlab_rails['redis_port'] = 6379
        gitlab_rails['redis_password'] = 'password'
        # SSH и порты
        gitlab_rails['gitlab_shell_ssh_port'] = 2200
        nginx['listen_port'] = 8800
    ports:
      - "2200:22"
      - "8800:80"
    volumes:
      - ./gitlab_config:/etc/gitlab
      - ./gitlab_logs:/var/log/gitlab
      - ./gitlab_data:/var/opt/gitlab
    depends_on:
      - postgres
      - redis
    restart: unless-stopped

  gitlab-runner:
    image: gitlab/gitlab-runner:latest
    environment:
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - ./gitlab_runner_config:/etc/gitlab-runner
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - gitlab
    restart: unless-stopped
